/* header.css */

/* Overall styling for the header container */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #0093b8; /* Use your desired color */
    color: #ffffff; /* Text color */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  /* Styling for the title on the left side */
  .title {
    margin-right: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Styling for the logged-in user section */
  .logged-in-section {
    display: flex;
    align-items: center;
  }
  
  /* Styling for the username */
  .username {
    margin-right: 10px;
    font-weight: bold;
  }
  
  /* Styling for the logout button */
  .logout-button {
    background-color: #c42d2d; /* White background color */
    color: #e6f0ef; /* Button text color */
    padding: 10px 20px; /* Padding for the button */
    margin-right: 10px; /* Margin between buttons */
    border: none; /* Remove button border */
    border-radius: 4px; /* Button border radius */
    cursor: pointer; /* Cursor on hover */
    font-weight: bold; /* Make text bold */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
  }

  .login-button:hover{
    background-color: #f0f0f0; /* Lighter background color on hover */
  }
  
  /* Global button styling */
.login-button,
.signup-button {
    background-color: #ffffff; /* White background color */
    color: #007F75; /* Button text color */
    padding: 10px 20px; /* Padding for the button */
    margin-right: 10px; /* Margin between buttons */
    border: none; /* Remove button border */
    border-radius: 4px; /* Button border radius */
    cursor: pointer; /* Cursor on hover */
    font-weight: bold; /* Make text bold */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.login-button:hover,
.signup-button:hover {
    background-color: #f0f0f0; /* Lighter background color on hover */
}